<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNgOXz8IEXhqOGOmBBfdJEnvc2w9YrLTA</string>
	<key>GCM_SENDER_ID</key>
	<string>768017691184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyas8747.habitBloom</string>
	<key>PROJECT_ID</key>
	<string>habitbloom-ae4ce</string>
	<key>STORAGE_BUCKET</key>
	<string>habitbloom-ae4ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768017691184:ios:c3a7906ccab49b834333f5</string>
</dict>
</plist>